* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #598392;
    text-align: center;margin-top: 50px;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0.9,0.2);
    font-size: 8vmin;
    background-color: #264653;
    color: white;
}

.box:hover {
    transform: scale(1.1);
    background-color: rgba(0,0,0,0.4);
}

.reset-btn {
    padding: 1rem;
    font-size: 1.25rem;
    border-radius: 0.7rem;
    border: none;
    background-color: #8d99ae;
}

.reset-btn:hover {
    background-color: #35A7FF;
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.1);
}

.reset-btn::backdrop{
    background-color: rgba(0, 0, 0, 0.1);
}

.newGame-btn {
    padding: 1rem;
    font-size: 1.25rem;
    border-radius: 0.7rem;
    border: none;
    background-color: #8d99ae;
}

.newGame-btn:hover {
    background-color: #35A7FF;
    box-shadow: 1rem 2rem 3rem rgba(0, 0, 0, 0.1);
}

#msg  {
    font-size: 8vmin;
    color:#264653;
    text-decoration:dotted;
}


.hide {
    display: none;
}

.msg-container {
    height: 10vmin;
}